/* 태블릿 버전 */
@media screen and (max-width:1200px) {
    header {
        width: 100%;
    }
    header ul li a{
        
    font-size: 45px;
    }
    #title {
        background-position-x: 50%;
        height: 100%;
    }
    #title hgroup h2 {
        font-size: 60px;
    }  
     #title hgroup h3{
        font-size: 50px;
    }
    #profile {

        height: 750px;
    }

    #profile .profilein .right {

        width: 25%;
        /*! margin-left: 0; */
        /*! position: relative; */
    }

    #profile .profilein .hcj {

        width: 30%;
    }

    #contact {

        height: 750px;
    }
    #contact .down h3{
        
    font-size: 50px;
    }
    #contact .down li span{
        
    font-size: 40px;
    line-height: 1.5;
    }
    
}

/* 모바일 버전 */
@media screen and (max-width:760px) {
    header {
        width: 100%;
    }

    header::before {
        content: "";
    }

    .slidingmenu {

        display: none;
    }

    header h1 {

        top: 0px;
        left: 0;
        position: absolute;
    }
    header ul.menu{
    }
    header ul.menu li{
        
    }
    header ul li a{
        
    font-size: 30px;
    }
    header span.lang{
        
    height: 30px;
    /*! margin-top: 2%; */
    }
    header span.lang button{
    }
    #title {

        background-size: cover;
        height: 750px;
        background-position-x: 50%;
    }

    #title hgroup h2 {
        font-size: 60px;
    }
    #title hgroup h3{
        font-size: 50px;
    }
    #profile .profilein {}

    #profile .profilein .right {

        width: 24%;
        margin-left: 0;
    }

    #profile .profilein .hcj {

        width: 30%;
    }

    #profile {

        height: 760px;
    }

    #portfolio {

        height: 760px;
        background-position-y: -120px;
    }

    #portfolio::before {
        display: none;
    }

    #portfolio .portfolioin {

        margin-top: 400px;
        padding-bottom: 0;
    }

    #contact {

        background-position-x: -300px;
        height: 760px;
    }

    #contact .down {
        margin-top: 15%;
        height: 100%;
    }
}